astroid==2.2.5
Babel==2.6.0
certifi==2019.3.9
chardet==3.0.4
decorator==4.4.0
dj-database-url==0.5.0
Django==2.2
django-b2storage==1.0
django-filter==2.1.0
django-heroku==0.3.1
django-phonenumber-field==2.3.1
django-widget-tweaks==1.4.5
djangorestframework==3.9.2
idna==2.8
isort==4.3.17
lazy-object-proxy==1.3.1
Markdown==3.1
mccabe==0.6.1
phonenumbers==8.10.10
Pillow==6.2.0
psycopg2==2.7.7
psycopg2-binary==2.8.3
public==2019.4.13
pylint==2.3.1
python-decouple==3.1
pytz==2019.1
requests==2.21.0
self==2019.4.13
six==1.12.0
sqlparse==0.3.0
typed-ast==1.3.4
urllib3==1.24.2
waitress==1.3.0
whitenoise==4.1.2
wrapt==1.11.1