{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'NepAmbulance/css/login.css' %}" type="text/css"/>
{% endblock %}

{% block content %}
    <div class="container">
        <section id="content">
            <form method="post">
                <h1>Sign up Form</h1>
                {% csrf_token %}
                {% for field in form %}
                  <p>
                    {{ field.label_tag }}<br>
                    <div>{{ field }}</div>
                    {% if field.help_text %}
                      <small style="color: grey">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                      <p style="color: red">{{ error }}</p>
                    {% endfor %}
                  </p>
                {% endfor %}
                <div>
                    <input type="submit" value="Sign up" />
                </div>
              </form>
        </section><!-- content -->
    </div><!-- container -->
{% endblock %}
