{% extends 'base.html' %}
{% load static %}
{%block stylesheet %}
        <link rel="stylesheet" href="{% static 'NepAmbulance/css/nav.css' %}" type="text/css"/>
{% endblock %}

{% block content%}
    <div class="ui center aligned container">
        <div class="ui three column grid">
            {% for province in provinces%}
                <div class="column">
                    <div class="ui card">
                      <a class="image img-circle" href="{% url 'districts' province.no %}" style="font-size: 1.5em;">
                        <img src="{{ province.image.url}}">
                      </a>
                      <div class="content">
                        <label class="header"><span>Province-{{province.no}}</span></label>
                      </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}